/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -252px;
  width: 260px;
  height: 100%;
  background: #1e2a38;
  color: white;
  padding: 30px 20px;
  transition: 0.3s;
  z-index: 999;
}

/* ACTIVO */
.sidebar.active {
  left: 0;
}

/* LOGO */
.logo {
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
}

/* LISTA */
.menu-list {
  list-style: none;
  padding: 0;
}

/* ITEMS */
.menu-list li {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

/* HOVER */
.menu-list li:hover {
  background: #2f3e4f;
}

.menu-icon {
  position: fixed;   /* 🔥 CLAVE */
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;     /* 🔥 MÁS ALTO QUE EL MENU */
  color: black;      /* cámbialo si no se ve */
}