<!-- BOTÓN HAMBURGUESA -->
<div class="menu-icon" (click)="toggleMenu()">
  ☰
</div>

<!-- SIDEBAR -->
<div class="sidebar" [class.active]="menuAbierto()">

  <!-- LOGO -->
  <h2 class="logo">Vademécum</h2>

  <!-- MENÚ -->
  <ul class="menu-list"> 
    <li (click)="irA('/home')">🏠 Home</li>
    <li (click)="irA('/products')">📦 Products</li>

    <!-- 🔥 SOLO ADMIN VE ESTA OPCIÓN -->
    <!-- *ngIf="role === 1" = solo muestra esto si el usuario es admin -->
    <li *ngIf="role === 1" (click)="irA('/users')">👤 Usuarios</li>

  </ul>

</div>